*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace;
}

/* formatting browser */
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: thistle;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width 800 px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }

.btnGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn:hover {
    border-color: black;
}

.startBtn, .nextBtn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}




/* adjusts for smaller screen size */
@media (max-width: 768px) {
    .container-fluid {
      /* removes paddding */
      padding-left: 0;
      padding-right: 0;
    }